# Top-most EditorConfig file to stop searching in parent directories
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Settings for Lua files
[*.lua]
indent_style = space
indent_size = 4
tab_width = 4
